.chat {
  background-color: #edeef0;
  padding-top: 100px;
  height: 100vh;

  &__logo {
    height: 70px;
    margin-right: 20px;
  }
  &__title {
    padding-left: 30px;
    font-size: 40px;
    height: 100px;
    border-bottom: 1px solid rgb(189, 189, 189);
    box-shadow: 0 0 3px rgb(197, 197, 197);
    background-color: rgb(245, 245, 245);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    
    button {
      position: absolute;
      top: 20px;
      right: 35px;
    }
    &-users {
      margin-left: 100px;
      display: flex;
    }
    &-user {
      height: 50px;
      width: 50px;
      margin-left: -10px;
    }
  }
  &__messages {
    padding: 30px 20px;
    height: calc(100vh - 300px);
    overflow-y: scroll;
  }
  &__message {
    display: flex;
    margin-bottom: 10px;
    word-break: break-all;

    &-user {
      max-height: 45px;
      max-width: 45px;
      margin-right: 20px;
      flex-basis: 10%;
    }
    &-username {
      font-size: 12px;
      color: #4e4e7b;
      font-weight: bold;
      margin-top: -12px;
    }
    &-content {
      padding: 5px 20px;
      background-color: #dfdfff;
      position: relative;
      border-radius: 4px;
      border: 1px solid #bfbfd9;
      display: flex;
      align-items: center;
      width: fit-content;
      margin-bottom: 20px;
      flex-direction: column;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #dfdfff;
        top: 7px;
        left: -7px;
        transform: rotate(45deg);
        border: 1px solid #bfbfd9;
        z-index: 1;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 23px;
        width: 13px;
        background-color: #dfdfff;
        top: 4px;
        left: 0px;
        z-index: 2;
      }
      &-wrapper {
        flex-basis: 90%;
      }
      img {
        display: block;
        max-height: 200px;
        max-width: 200px;
      }
    }
  }
  &__content {
    width: 600px;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 0 1px #e7e8ec;
    border-radius: 4px;
    overflow: hidden;
  }
  &__actions {
    padding: 15px 30px 0 30px;
    border-top: 1px solid #ecedf0;
    background-color: #fafbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    mat-form-field {
      width: 100%;
    }
    &-preview {
      max-height: 150px;
      max-width: 150px;
      position: absolute;
      bottom: 100%;
      left: 10px;
      box-shadow: 0 0 5px black;

      img {
        width: 100%;
      }
      button {
        position: absolute;
        right: -15px;
        top: -15px;
      }
    }
  }
}